cryptography==3.2.1
asyncpg
aiomysql
aiosqlite
databases
sqlalchemy==1.3.20
dathost>=0.2.0
backblaze>=0.0.7
aiohttp
aiojobs
zipstream
aiofiles
aiozipstream>=0.4
validators
asynctest
sphinxcontrib-trio
sphinx-material
aiosmtplib>=1.1.4
bcrypt>=3.2.0
python-dotenv
jinja2